
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;500;600;700;800;900&display=swap');

:root{
    --bgc: #d9fbff; 
    --grey: rgb(83, 84, 85);
    --ctx: #fff;
    --darkblue:rgb(125, 163, 169);
    --lightgrey: rgb(5, 21, 37);
    --lightdark: rgba(33, 42, 44, 0.4); 
    --rdbg: linear-gradient(90deg, rgb(5, 21, 37) 0%, rgba(33, 42, 44, 0.4) 100%);
    --fdlx: linear-gradient(to left,  rgba(170, 187, 204, 0.5),var(--darkblue));
    --fdrx: linear-gradient(to right, var(--white), var(--grey));
}

html{
    font-family: "Assistant", sans-serif; 
}

html,
body {
    background-color: #000;
    margin: 0;
    padding: 0;
}


body{
    color: var(--ctx);
    
    display: flex;
    align-items: left;
    justify-content: left;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--ctx);
    font-weight: 700;
    text-shadow: 2px 1px black;
}

a:link{
    color: #00f;
    text-decoration: none ;
}

a:visited{
    color: #007;
    text-decoration: none;
}

a:hover{
    color: #00f;
    text-decoration:underline;
}

a:active{
    text-decoration: underline;
}

#bordo{
    background-image: var(--rdbg);
    margin: 1rem;
    padding: 1rem;
    box-shadow: 2px 2px 4px var(--rdbg);
    border-radius: 10px;
    /* background-image: var(--rdGrbg); */
}

.ph{
    margin: 1rem;
    padding: 1rem;
    text-align: left;
}

.photo{
    background-color: #fff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/* per allineare una foto al centro del paragrafo richiamare le proprietà 
"display: block" e "margin: 0 auto", all'interno della classe assegnata a quell'immagine */
.phcode{
    border: 8px;
    border-radius: 10px;
    box-shadow: 10px 10px var(--lightdark);
    width: -5px;
    height: -3px;
    
}

/* per allineare una foto, all'interno di un div, in alto a destra 
bisogna richiamare la proprietà "position: relative" nel classe assegnata a quel div 
→ in seguito richiamare la classe assegnata all'immagine e dargli le prorpietà
"position: absolute", "top:0" e "right:0"  */
.info{
    background: var(--fdlx);
    margin: 1rem;
    padding: 0.5rem;
    color: #000;
    position: relative;
    border: 2px solid var(--darkblue) ;
    border-radius: 5px;
    
}

.photo2{
    /*position: absolute;
    top: 0;
    right: 0;*/
    float: right;
}

.notes{
    display: flex;
    justify-content: center;
    align-content: center;
}

/* per allineare un immagine al centro del paragrafo: 
inserire il pararagrafo all'interno di un div → assegnare una classe al div → richiamare la classe del div nel foglio di stile
→ usare la prorietà text-align: center; → richiamare la classe assegnata al tag <img> 
→ usare le prorietà display: inline-block;(assicura che l'immagine è tratta come un blocco e puo avere dei margini) e  margin: 0 auto; (centra l'immagine orizzontalmente)  */
.domStructure-paragraph { 
    text-align: center;
}

.dom {
    display: inline-block; 
    margin: 0 auto; 
    box-shadow:10px 10px var(--lightdark);
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

th, td{
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.code-container{
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9rem;
    position: relative;
    text-align: center;
    background-color: #000000;
    color: #fff;
    border: 4px;
    border-radius: 10px;
    
}


/*  */
.esempio{
    background-image: var(--fdrx);
    border: 2px solid black;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    cursor: pointer;
}


button {
    position: absolute;
    background-color: #888;
    border: 1px solid grey;
    border-radius: 10px;
    
    top: 10px;
    right: 10px;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.copy-icon{
    width: 20px;
    height: 15px;
    border: 2px;
}

.verified-icon{
    width: 20px;
    height: 20px;
    border: 2px;
}

/* da chiarire  */
.line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px; /* Adjust the thickness of the line */
    background-color: #ccc; /* Adjust the color of the line */
    margin: 0;
    border: none;
    z-index: 0;
}

